// ----- COLORES -----
/* ----- Biblioteca de colores ----- */

// :root {
//   --var-green: #00ab7c;
//   --var-yellow: #f8f859;
//   --var-white: #f8f1df;
//   --var-grey: #979797;
// }
$color-primary: #00ab7c;
$color-secondary: #f8f859;
$color-white: #f8f1df;
$color-grey: #979797;
$color-red: #e00b0b;
$color-yellow: #ffc839;
