/* ---------- Fuente ---------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

@import "variables";
@import "operaciones";
@import "mixins";

/* ---------- ESTILOS GENERALES ---------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: $font-size;
}

p,
a {
  font-size: $font-size - 2;
}

a {
  text-decoration: none;
}

/* ----- Fuentes ----- */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #000000;
}

h1 {
  color: #f8f1df;
  background-color: #000000;
  padding: 0.313rem 0.625rem;
  border-radius: 0.5rem;
}

/* ----- Clases reutilizables ----- */

.flexbox-columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boton-oscuro {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: block;
  background-color: $color-primary;
  border-radius: 10px;
  padding: 0.625rem 1.563rem;
  border: 2px solid transparent;
  transition: background-color 1s;
}

.boton-claro {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: block;
  background-color: $color-secondary;
  border-radius: 10px;
  padding: 0.625rem 1.563rem;
  border: 2px solid transparent;
  transition: background-color 1s;
}

/* ----- Header ----- */
/* Nav */
nav {
  text-align: center;
  width: 100%;
  min-height: 80px;
  background: url(../img/patron-2.jpg);
  border-bottom: solid 3px #000000;

  img {
    width: 100%;
    max-width: 65px;
  }

  #logo {
    margin-left: 10px;
  }

  ul {
    li {
      a {
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        display: block;
        text-align: center;
        padding: 0.625rem 0;

        &:active {
          color: $color-primary;
        }
      }
    }
  }

  .navbar-toggler {
    background-color: $color-primary;
    position: absolute;
    right: 10px;
    top: 20px;
  }
}

/* ----- Footer ----- */
footer {
  background: url(../img/patron-2.jpg);
  border-top: solid 2px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > img {
    display: none;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  #contenedor-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
}

/* ----- Whatsapp ----- */

#logo-whatsapp {
  img {
    max-width: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
  }
}
/* ---------- PÁGINA INDEX ---------- */
/* -----Portada - Index----- */
#portada {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;

  h1 {
    background: none;
    color: #000000;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }

  input {
    display: inline;
  }
}

/* ----- Primer Sección - Index ----- */
#primer-seccion {
  @include centrado($margen, 80%);
  padding-top: 1.25rem;

  .articulos-primer-seccion {
    article {
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-wrap: wrap;
      border-radius: 3px;
      box-shadow: $sombra;

      a {
        text-align: center;
        color: #000000;
      }

      h2 {
        color: #f8f1df;
        background-color: #000000;
        font-size: 1.25rem;
        padding: 5px;
      }
    }

    #primer-articulo {
      background: url(../img/vianda-individual.jpg) no-repeat center center;
      background-size: cover;
    }

    #segundo-articulo {
      background: url(../img/vianda-empresas.jpg) no-repeat center center;
      background-size: cover;
    }

    #tercer-articulo {
      background: url(../img/catering.jpg) no-repeat center center;
      background-size: cover;
    }
  }

  .soluciones-fondo {
    background: url(../img/fondo-verduras.png) no-repeat center center;
    background-size: cover;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

/* ----- Segunda Sección -Index ----- */
#segunda-seccion {
  background: url(../img/tomato-salad.jpg) center center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 70vw;
    min-height: 20vh;
    background-color: $color-yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 0.625rem;
    padding: 2rem;
  }

  figure {
    display: inline-block;
    width: 40%;

    figcaption {
      text-align: center;
      font-weight: bold;
      font-size: 0.8rem;
    }

    img {
      width: 100%;
    }
  }
}

/* ----- Tercer Sección -Index ----- */
#tercer-seccion {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url(../img/patron-4.jpg) no-repeat;
  background-size: cover;
  padding: 1.25rem;

  article {
    flex: 1;
    min-height: 300px;
    padding: 1.25rem;
  }

  form {
    padding: 1.25rem;
    flex: 1;
    width: 100%;
    min-height: 300px;
    background: url(../img/patron.jpg);
    border: transparent;
  }

  .input-texto {
    width: 100%;
    height: 30px;
  }
}

/* ----- Logo de Whatsapp ----- */
#logo-whatsapp {
  display: none;
}

/* ---------- PÁGINA MENÚ ---------- */
/* ----- Portada - Menú ----- */
#portada-menu {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/portada.jpg) no-repeat right center;
  background-size: cover;
}

/* ----- Primer Sección - Menú ----- */
#primer-seccion-menu {
  div {
    display: none;
  }
}

/* ----- Segunda Sección - Menú ----- */
#segunda-seccion-menu {
  h2 {
    text-align: center;
  }
  > div {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;

    article {
      border-bottom: solid 2px $color-primary;
      padding-bottom: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      img {
        width: 100%;
      }

      input {
        align-self: flex-end;
      }

      div:nth-child(2) {
        flex: 1;
        display: flex;
        flex-direction: column;

        h4,
        > p {
          width: 100%;
        }

        input {
          align-self: flex-end;
          margin-right: 1.25rem;
        }
      }
    }
  }
}

/* ---------- PÁGINA SERVICIOS --------- */
/* ----- Portada - Servicios ----- */
#portada-servicios {
  min-height: 50vh;
  background: url(../img/italian-food.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Primer sección - Servicios ----- */
#primer-seccion-servicios {
  div {
    margin: 0 auto;
    width: 95%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 1rem;
      border-bottom: solid 2px $color-primary;

      figure {
        img {
          width: 100%;
        }
      }

      input {
        align-self: flex-end;
      }
    }
  }
}

/* ---------- PÁGINA BLOG ---------- */
/* ----- Portada - Blog ------ */
#portada-blog {
  min-height: 50vh;
  padding: 1.25rem 0;
  background: url(../img/food-blog.png) no-repeat top right;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  h1 {
    background: none;
    color: #000000;
    text-align: center;
  }

  > div {
    display: none;
  }
}

/* ----- Primer Sección - Blog ----- */
#primer-seccion-blog {
  > h2 {
    text-align: center;
    padding: 1rem 0;
  }

  > div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    article {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;

      figure {
        img {
          width: 100%;
        }

        figcaption {
          color: var(--var-grey);
          font-size: 12px;
        }
      }
      a {
        text-transform: uppercase;
        color: $color-primary;
        font-weight: bold;
        font-size: 12px;
        align-self: flex-end;
      }
    }
  }
}

/* ---------- PÁGINA NOSOTROS ---------- */
/* ----- Portada - Nosotros ------ */
#portada-nosotros {
  background: url(../img/icono-en-tabla.jpg) no-repeat 85% center;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Primer sección - Nosotros ----- */
#primer-seccion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1.25rem;

  h2 {
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  figure img {
    width: 100%;
  }
}

/* ----- Segunda Sección - Nosotros ----- */
#segunda-seccion-nosotros {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.25rem;
  }

  iframe {
    width: 100%;
  }
}

/* ---------- PÁGINA CONTACTO ---------- */

/* ----- Segunda Sección - Contacto ----- */
#portada-contacto {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mesa.jpg);
  background-size: cover;
}

#primer-seccion-contacto {
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.25rem;

    form {
      width: 95%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border: none;

      label {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
      }

      span {
        color: $color-red;
        font-size: 16px;
      }

      #id-nombre,
      #id-correo,
      #id-telefono,
      select,
      textarea {
        width: 100%;
        background-color: $color-white;
        border: solid 2px #c3c3c3;
        border-radius: 3px;
        padding-left: 1.25rem;
        height: 2.5rem;
        color: #868686;
      }

      .campo-newsletter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .campo-botones input {
        width: 100%;
        margin: 10px;
      }

      textarea {
        height: 10vh;
        padding-top: 1.25rem;
      }

      select {
        height: 50px;
      }
    }
  }

  #div-contacto {
    min-height: 40vh;
    padding: 1.25rem;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

// **************************** MEDIA QUERIES *******************************

// ************************************************************************
// ********************* TABLET **********************

@media screen and (min-width: 768px) {
  /* ----- Header ----- */
  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;

      li:nth-child(4) {
        display: none;
      }
    }
  }

  // /* ----- Footer ----- */
  footer {
    flex-direction: row;
    align-items: flex-start;

    div:nth-child(2),
    div:nth-child(3),
    div:nth-child(4) {
      align-items: flex-start;
    }

    > img {
      display: block;
    }
  }

  /* ---------- PÁGINA INDEX ---------- */
  /* ----- Portada - Index----- */
  #portada {
    height: 50vh;
    background: url(../img/portada2.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      width: 40vw;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      font-weight: bold;
    }

    input {
      display: inline;
    }
  }

  /* ----- Primera Sección - Index ----- */
  #primer-seccion {
    @include centrado($margen, 95%);

    .soluciones-fondo {
      justify-content: center;
    }
    .articulos-primer-seccion {
      display: flex;
      gap: 1rem;
    }
  }

  /* ----- Segunda Sección - Index */
  #segunda-seccion {
    div {
      figure {
        flex: 1;

        img {
          width: 100%;
          max-width: 120px;
        }
      }
    }
  }

  /* ---------- PÁGINA MENÚ ---------- */
  /* ----- Primer Sección - Menú ----- */
  #primer-seccion-menu {
    padding: 1.25rem;

    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 1.25rem;
      padding: 2.5rem 0;

      figure img {
        width: 100%;
        min-height: 100%;
      }

      .grid-item1 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
      }

      .grid-item2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      .grid-item3 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }

      .grid-item4 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      .grid-item5 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
      }
    }
  }

  /* ------ Segunda Sección - Menú ----- */
  #segunda-seccion-menu {
    h2 {
      text-align: center;
    }

    div {
      display: flex;
      flex-wrap: wrap;

      article {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0.625rem;
        box-shadow: $sombra;
        padding: 1.25rem;
        border: none;

        input {
          margin-right: 1.25rem;
        }
      }

      article:nth-child(5) {
        > div {
          display: flex;
          flex-direction: row;
          gap: 1rem;

          figure {
            flex: 1;
          }
        }
      }
    }
  }

  #primer-seccion-servicios {
    div {
      padding: 2.5rem;
      display: grid;
      grid-gap: 1.25rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);

      article {
        justify-content: space-between;
      }
    }
  }

  /* ---------- PÁGINA BLOG ---------- */
  #portada-blog {
    height: 100vh;
    background: url(../img/food-blog.png) no-repeat center top;
    background-size: contain;
  }

  /* ----- Primer Sección - Blog ----- */
  #primer-seccion-blog {
    > div {
      margin: 0 auto;
      display: grid;
      grid-gap: 2.5rem;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* ---------- PÁGINA NOSOTROS ---------- */
  #primer-seccion-nosotros {
    flex-direction: row;
    align-items: flex-start;
    padding: 1.25rem;
    gap: 1;

    > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    figure {
      flex: 1;
      background: url(../img/viandas-verdes.jpg);
      background-size: cover;
    }
  }

  /* ----- Segunda Sección - Nosotros ----- */
  #segunda-seccion-nosotros {
    > div {
      padding: 1.25rem;
      flex-direction: row;
    }
  }

  /* ---------- PÁGINA CONTACTO ---------- */
  /* ----- Primer Sección - Contacto ----- */
  #primer-seccion-contacto {
    > div {
      flex-direction: row;

      > div {
        width: 40%;
      }

      form {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.313rem;
        border: none;

        .campo-nombre,
        .campo-correo,
        .campo-telefono,
        .campo-mensaje,
        .campo-botones {
          grid-column: span 2;
        }
      }
    }
  }

  /* ---------- FOOTER ---------- */
  footer {
    img {
      max-width: 100px;
    }
  }
}

/* ************************************************************************** */
/* ********************* DESKTOP ********************** */
@media screen and (min-width: 992px) {
  p,
  a {
    font-size: 16px;
  }
  /* ----- Contenedores centrados ----- */
  .centrado-grande {
    @include centrado($margen, 95%);
  }

  .centrado-mediano {
    @include centrado($margen, 80%);
    max-width: 1200px;
  }

  .boton-oscuro:hover,
  .boton-claro:hover {
    border-color: #000000;
    background-color: transparent;
  }

  /* ----- Header ----- */
  nav {
    width: 100vw;
    text-align: center;
    min-height: 80px;
    background: url(../img/patron-2.jpg);
    border-bottom: solid 3px #000000;

    img {
      width: 100%;
      max-width: 110px;
    }

    #logo {
      position: absolute;
      left: 46vw;
      top: 20px;
      border: transparent;
    }

    #logo:hover {
      background: transparent;
      border: transparent;
    }

    ul {
      margin: 0 auto;
      width: 80%;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      padding-top: 1.25rem;

      li:nth-child(4) {
        display: block;
      }

      li {
        flex: 1;

        a {
          text-decoration: none;
          color: #000000;
          font-weight: bold;
          display: block;
          text-align: center;
          padding: 0.625rem 0;
          border: solid 2px transparent;
          transition: all 0.3s ease;
        }

        a:hover {
          background-color: #f8f1df;
          color: #000000;
          border: solid 2px #000000;
          border-radius: 10px;
        }
      }
    }

    .link-activo {
      border-bottom: solid 3px #000000;
      padding-bottom: 0.125rem;
    }
  }

  /* ---------- Footer ---------- */
  footer {
    img {
      max-width: 100px;
      transition: all 1s;
    }

    img:hover {
      transform: scale(1.1, 1.1);
    }

    ul {
      li {
        a:hover {
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }

  /* ---------- PÁGINA INDEX ---------- */
  /*----- Portada - Index ----- */
  #portada {
    min-height: 100vh;
  }

  /* ----- Primer Sección - Index ----- */
  #primer-seccion {
    padding-top: 5rem;
    display: flex;
    justify-content: center;

    .articulos-primer-seccion {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      position: relative;
      top: -25vh;

      article {
        width: 340px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 3px;
        box-shadow: $sombra;
        h2 {
          transition: all 0.5s ease-out;
        }

        h2:hover {
          background-color: $color-primary;
          transform: scale(1.1, 1.1);
        }
      }
    }

    .soluciones-fondo {
      margin: 0 auto;
      min-height: 40vh;
      width: 60vw;
      padding-top: 2.5rem;
      align-items: flex-start;

      h2 {
        color: #f8f1df;
        background-color: #000000;
        padding: 0.313rem 0.625rem;
        border-radius: 0.5rem;
      }
    }
  }

  /* ----- Segunda Sección - Index ----- */
  #segunda-seccion {
    min-height: 70vh;

    div {
      width: 50vw;

      figure {
        text-align: center;

        figcaption {
          padding-top: 0.3rem;
        }
      }
    }
  }

  /* ----- Tercer Sección - Index ----- */
  #tercer-seccion {
    min-height: 50vh;
    flex-direction: row;

    article {
      font-weight: bold;
      text-align: center;
    }
  }

  /* ---------- PÁGINA MENÚ ---------- */
  /* ----- Segunda Sección - Menú ----- */
  #segunda-seccion-menu {
    > div {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);

      article:nth-child(5) {
        grid-column: 1 / span 2;

        > div {
          width: 100%;
          justify-content: stretch;
          gap: 4rem;

          figure {
            flex: 1;
          }

          div {
            flex: 1;
          }
        }
      }
    }
  }

  /* ---------- PÁGINA BLOG ---------- */
  /* ----- Portada - Blog ----- */
  #portada-blog {
    min-height: 70vh;
    background-size: 50%;
    background-position-x: right;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;

    > div {
      display: flex;
      flex-direction: column;
      width: 50vw;
      align-items: center;
      text-align: center;
    }
  }

  /* ----- Primer Sección - Blog ----- */
  #primer-seccion-blog {
    padding-bottom: 4rem;
  }

  /* ---------- PÁGINA NOSOTROS ---------- */
  /* ----- Segunda Sección - Nosotros*/
  #segunda-seccion-nosotros {
    > div {
      justify-content: stretch;

      div {
        flex: 1;
      }
    }
  }

  /* ---------- PÁGINA CONTACTO ---------- */
  /* ----- Primer Sección - Contacto ----- */
  #primer-seccion-contacto {
    > div {
      justify-content: space-around;
      > div#div-contacto {
        width: 25%;
      }
    }
  }
}
