/* Fuente Quicksand & Poppins */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* ----- Biblioteca de colores ---------- */

:root {
    --var-green: #00ab7c;
    --var-yellow: #f8f859;
    --var-white: #f8f1df;
    --var-grey: #979797;
}

/* ----- Fuentes ----- */

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 30px;
}

/* ----- Contenedores auxiliares ----- */

.centrado-grande {
    margin: 0 auto;
    width: 95%;
}

.centrado-mediano {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.flexbox-columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ----- Clases reutilizables ----- */

.link-activo {
    border-bottom: solid 3px #000000;
    padding-bottom: 0.125rem;
}

.boton-oscuro {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: var(--var-green);
    border-radius: 10px;
    padding: 0.625rem 1.563rem;
    border: 2px solid transparent;
}

.boton-oscuro:hover, .boton-claro:hover {
    border-color: #000000;
    background-color: transparent;
}

.boton-claro {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    background-color: var(--var-yellow);
    border-radius: 10px;
    padding: 0.625rem 1.563rem;
    border: 2px solid transparent;
}

/* ----- Header ----- */

header a {
    text-decoration: none;
}

nav {
    position: sticky;
    top: -1px;
    width: 100vw;
    text-align: center;
    width: 100%;
    min-height: 80px;
    background: url(img/patron-2.jpg);
    border-bottom: solid 3px #000000;
}

nav img {
    width: 100%;
    max-width: 140px;
}

#logo {
    position: absolute;
    left: 45%;
    top: 20px;
    border: transparent;
}

#logo:hover {
    background: transparent;
    border: transparent;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    padding-top: 1.25rem;
    width: 840px;
    margin: 0 auto;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.625rem 0;
    border: solid 2px transparent;
}

nav ul li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #f8f1df;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.625rem 0;
    border: solid 2px #000000;
    border-radius: 10px;
}

/* ----- Footer ----- */

footer {
    background: url(img/patron-2.jpg);
    border-top: solid 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

footer img {
    max-width: 100px;
}

footer img:hover {
    transform: scale(1.1, 1.1);
}

footer ul li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #000000;
}

#contenedor-redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

/* ----- Whatsapp ----- */

#logo-whatsapp img {
    max-width: 70px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

/* ---------- PÁGINA INDEX ---------- */

/* -----Portada - Index----- */

#portada {
    background: url(img/portada2.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portada>div {
    width: 40vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

#portada input {
    display: inline;
}

/* ----- Primer Sección - Index ----- */

#primer-seccion {
    padding: 100px;
    position: relative;
    min-height: 100vh;
}

.articulos-primer-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    position: absolute;
    top: 30vh;
    left: 15vw;
}

.articulos-primer-seccion article {
    width: 340px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

.articulos-primer-seccion a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.articulos-primer-seccion h2 {
    color: #f8f1df;
    background-color: #000000;
    padding: 5px;
}

.articulos-primer-seccion h2:hover {
    background-color: #00ab7c;
    transform: scale(1.1, 1.1);
}

#primer-articulo {
    background: url(img/vianda-individual.jpg) no-repeat;
}

#segundo-articulo {
    background: url(img/vianda-empresas.jpg) no-repeat;
}

#tercer-articulo {
    background: url(img/catering.jpg) no-repeat;
}

.soluciones-fondo {
    background: url(img/fondo-verduras.png) no-repeat;
    background-size: cover;
    min-height: 40vh;
    width: 70vw;
    text-align: center;
}

.soluciones-fondo h2 {
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
}

/* ----- Segunda Sección -Index ----- */

#segunda-seccion {
    background: url(img/tomato-salad.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#segunda-seccion div {
    background-color: #FFC839;
    display: inline-block;
    padding: 2.5rem;
    border-radius: 0.625rem;
}

#segunda-seccion figure {
    display: inline-block;
    margin: 0 0.938rem;
}

#segunda-seccion figure:hover {
    transform: scale(1.2, 1.2);
}

#segunda-seccion img {
    width: 100%;
    max-width: 150px;
}

#segunda-seccion figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
}

/* ----- Tercer Sección -Index ----- */

#tercer-seccion {
    min-height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(img/patron-4.jpg);
    background-size: cover;
    padding: 1.25rem;
}

#tercer-seccion article {
    flex: 1;
    min-height: 300px;
    padding: 1.25rem;
}

#tercer-seccion form {
    flex: 1;
    min-height: 300px;
    background: url(img/patron.jpg);
    border: transparent;
}

.input-texto {
    width: 100%;
    height: 30px;
}

/* ************************************************************************** */

/* ---------- PÁGINA MENÚ ---------- */

#primer-seccion-menu {
    min-height: 80vh;
}

#primer-seccion-menu div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.25rem;
    padding: 2.5rem 0;
}

#primer-seccion-menu figure img {
    width: 100%;
    min-height: 100%;
}

.grid-item1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.grid-item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.grid-item3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.grid-item4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.grid-item5 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

table {
    border: solid 2px #000000;
    border-radius: 3px;
    margin: 5vw 25vw;
}

th {
    background-color: #ffc839;
    padding: 0.313rem;
}

td {
    background-color: #f8f1df;
    padding: 0.313rem 0.625rem;
}

table li {
    list-style-position: inside;
}

/* ************************************************************************** */

/* ---------- PÁGINA SERVICIOS --------- */

#portada-servicios {
    background: url(img/italian-food.jpg) fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primer-seccion-servicios div {
    padding: 2.5rem;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'articulo-1 articulo-2' 'articulo-3 articulo-4';
}

#primer-seccion-servicios h1 {
    margin: 2.5rem 0 0 2.5rem;
}

.articulo-servicios1 {
    grid-area: articulo-1;
}

.articulo-servicios2 {
    grid-area: articulo-2;
}

.articulo-servicios3 {
    grid-area: articulo-3;
}

.articulo-servicios3 {
    grid-area: articulo-4;
}

/* ************************************************************************** */

/* ---------- PÁGINA BLOG ---------- */

#seccion-portada-blog {
    min-height: 100vh;
    padding: 2.5rem 0;
    background: url(img/food-blog.png) no-repeat center right;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#seccion-portada-blog>div {
    width: 35vw;
    height: 50vh;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#redes-portada {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#primer-seccion-blog>h2 {
    text-align: center;
    padding-bottom: 1.25rem;
}

#primer-seccion-blog>div {
    margin: 0 auto;
    display: grid;
    grid-gap: 2.5rem;
    grid-template-rows: repeat(2, 1fr) auto;
    grid-template-columns: repeat(3, 1fr);
}

#primer-seccion-blog article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

#primer-seccion-blog a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--var-green);
    font-weight: bold;
    font-size: 12px;
    align-self: flex-end;
}

#primer-seccion-blog figcaption {
    color: var(--var-grey);
    font-size: 12px;
}

/* ************************************************************************** */

/* ---------- PÁGINA NOSOTROS ---------- */

#portada-nosotros {
    background: url(img/icono-en-tabla.jpg) bottom fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primer-seccion-nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    min-height: 100vh;
    gap: 30px;
}

#primer-seccion-nosotros h1 {
    width: 100%;
}

#primer-seccion-nosotros>div {
    min-height: 70vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#primer-seccion-nosotros div:nth-child(2) {
    min-height: 70vh;
    flex: 1;
    background: url(img/viandas-verdes.jpg);
    background-size: cover;
}

/* ************************************************************************** */

/* ---------- PÁGINA CONTACTO ---------- */

/* ----- Primer Sección - Contacto ----- */

#primer-seccion-contacto {
    min-height: 70vh;
    background: url(img/portada.jpg) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#segunda-seccion-contacto {
    min-height: 100vh;
}

#segunda-seccion-contacto form {
    width: 50%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.313rem;
    border: none;
}

.campo-nombre, .campo-correo, .campo-telefono, .campo-mensaje, .campo-botones {
    grid-column: span 2;
}

#segunda-seccion-contacto label {
    color: var(--var-green);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

#segunda-seccion-contacto span {
    color: red;
    font-size: 16px;
}

#id-nombre, #id-correo, #id-telefono, select, textarea {
    width: 100%;
    background-color: #ffffff;
    border: solid 2px #c3c3c3;
    border-radius: 3px;
    padding-left: 1.25rem;
    height: 2.5rem;
    color: #868686;
}

.campo-newsletter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.campo-botones input {
    width: 100%;
    margin: 10px;
}

#segunda-seccion-contacto textarea {
    height: 10vh;
    padding-top: 1.25rem;
}

#segunda-seccion-contacto select {
    height: 50px;
}

/* ----- Segunda Sección - Contacto ----- */

#segunda-seccion-contacto>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div-contacto {
    width: 300px;
    min-height: 400px;
    background-color: #00ab7c;
    color: #f8f1df;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 30px;
}

form {
    width: 500px;
    border: solid 2px rgb(173, 172, 172);
    border-radius: 5px;
    padding: 1.875rem;
}